{% extends 'base.html' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}

<div class="topic container">
  <header>
    <h1>{{ topic.title }}</h1>
    <span>{{topic.description}}</span>
  </header>
  <div class="cards container">
  {% for lesson in lessons %}
    <a href="{% url 'lesson' lesson_pk=lesson.pk topic_pk=topic.pk %}">
      <div class="lesson card">
      <header>{{lesson.title}}</header>
        <div class="description">
          {{lesson.description}}
        </div>
      </div>
    </a>
  {% endfor %}
  </div>
</div>
{% endblock %}